<fieldset class="coauthor">
  <legend translate>quem utilizará os ingressos?</legend>

  <ul ng-show="credentials" class="invited_list">
    <li class="invited" ng-repeat="invite in invites">
      <img gravatar-src="invite.recipient" gravatar-size="50">
      <div class="name">{{ invite.name }}</div>
      <div class="recipient">{{ invite.recipient }}</div>
      <div class="status {{invite.status}}">{{ invite.status }}</div>
    </li>
    <li class="invited in-progress" ng-repeat="invite in newInvites">
      <img gravatar-src="invite.recipient" gravatar-size="50">
      <div class="name">{{ invite.name }}</div>
      <div class="recipient">{{ invite.recipient }}</div>
      <div class="status {{invite.status}}" translate>será inserido ao salvar</div>
    </li>
    <li class="invited invite-new" ng-click="openInviteModal()">
      <i class="fa fa-plus"></i>
      <span translate>adicionar pessoa</span>
    </li>
  </ul>
</fieldset>
