body {
  margin: 0;
  padding: 0;

  background: url(/images/main-bg-left.png) no-repeat center left fixed,
              url(/images/main-bg-right.png) no-repeat center right fixed;
  min-height: 600px;

  &>header {
    z-index: 110;
    top: 0;
    position: fixed;
    background: #666;
    width: 100%;
    height: 35px;

    img.logo {
      cursor: pointer;
      position: absolute;
      left: 10%;
      top: 0%;
    }

    h1 {
      cursor: pointer;
      position: absolute;
      left: 25%;
      top: 0%;
      font-family: Orbitron;
      font-size: 16px;
      color: white;

      span { cursor: pointer; }
    }
  }

  &>aside {
    background: #999;
    width: 20%;
    position: fixed;
    right: 5px;
    top: 0px;
    z-index: 150;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset -3px -3px 3px #666;
  }
  &>main {
    top: 3rem;
    position: relative;
    clear: both;
    margin: 0 auto;
    max-width: 60rem;
    min-width: 30rem;
    background: white;
  }

  &>footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: black;
    font-size: small;
    background: gray;
    padding: 0.5rem;
    opacity: .4;
    &:hover {
      opacity: 1;
    }
  }

  &>support {
    position: fixed;
    bottom: 0;
    left: 0;
    color: black;
    font-size: small;
    background: gray;
    padding: 0.5rem;

    a {
      color:white;
    }
  }
  

  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .alert h4 {
    margin-top: 0;
    color: inherit;
  }
  .alert .alert-link {
    font-weight: bold;
  }
  .alert > p,
  .alert > ul {
    margin-bottom: 0;
  }
  .alert > p + p {
    margin-top: 5px;
  }
  .alert-dismissable,
  .alert-dismissible {
    padding-right: 35px;
  }
  .alert-dismissable .close,
  .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  .alert-success hr {
    border-top-color: #c9e2b3;
  }
  .alert-success .alert-link {
    color: #2b542c;
  }
  .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
  }
  .alert-info hr {
    border-top-color: #a6e1ec;
  }
  .alert-info .alert-link {
    color: #245269;
  }
  .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  .alert-warning hr {
    border-top-color: #f7e1b5;
  }
  .alert-warning .alert-link {
    color: #66512c;
  }
  .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  .alert-danger hr {
    border-top-color: #e4b9c0;
  }
  .alert-danger .alert-link {
    color: #843534;
  }

}

.centered {
  text-align: center;
}

.animated {
  transition: all 0.2s linear;
}

fieldset {
  border: 0px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;

  legend {
    background: white;
    font-size: x-large;
    font-family: Orbitron;
    text-align: left;
  }
}

