@mixin hide-placeholder {
  &::-webkit-input-placeholder { color: white; }
  &::-webkit-input-placeholder { color: white; }
  &::-webkit-input-placeholder { color: white; }
  &::-webkit-input-placeholder { color: white; }
}
