<h1 translate>criar proposta de palestra</h1>

<form action="">
  <p>
    <label>
      <translate>título da palestra</translate>
    </label>
    <input type="text" id="proposal_title" ng-model="proposal.title" />
  </p>

  <p>
    <label>
      <translate>resumo da proposta</translate>
      <small translate>(até 200 caracteres)</small>
    </label>
    <textarea ng-model="proposal.summary"></textarea>
  </p>

  <p>
    <label>
      <translate>proposta completa</translate>
      <small translate>(até 2000 caracteres)</small>
    </label>
    <textarea ng-model="proposal.full" class="large"></textarea>
  </p>

  <p>
    <label>
      <translate>e-mail</translate>
      <small translate>(somente o do autor principal)</small>
    </label>
    <input ng-model="proposal.email" class="large"/>
  </p>

</form>
