<fieldset class="products_caravan">
  <legend translate>valores dos ingressos</legend>
  <p>
    <table>
      <tr>
        <th class="date">disponível até...</th>
        <th ng-show="isCaravan" class="category">caravana</th>
      </tr>
      <tr class="rows" ng-repeat="period in productsByPeriod">
        <td class="date">{{ period[0] | dateFromTimestamp }}</td>
        <td class="price" ng-repeat="(category,tickets) in period[1]">
          <label>
            {{ tickets[0].price | realbrasileiro }}
          </label>
        </td>
      </tr>
    </table>
  </p>
</fieldset>
