<img src="/images/logo-pt.png"/>

<div class="subtitle">
  8 a 11 de Julho de 2015 | Porto Alegre | Brasil
  <button ui-sref="authenticate" translate>entrar na minha conta</button>
</div>

<div class="buttons">
  <div ng-hide="registrationState == 'open'">
    <header translate>Certificados <i>em breve!</i></header>
    <button>
      aguarde e-mail com informações
    </button>
  </div>
  <div ng-show="registrationState == 'open'">
    <header translate>Participantes</header>
    <div ng-show="purchaseMode == 'online'">
      <button ng-click="showInfo('initial', 'contract_large')" translate>quero comprar um ingresso</button>
      <button ng-click="showInfo('caravan', 'contract_large')" translate>quero montar uma caravana</button>
    </div>
    <div ng-show="purchaseMode == 'reservation'">
      <button ng-click="showInfo('initial', 'contract_large')" translate>
        quero reservar meu ingresso
      </button>

      <button ng-click="showInfo('initial', 'contract_large')" translate>
        tenho um código promocional
      </button>
    </div>

  </div>

  <div ng-show="registrationState == 'open'">
    <header translate>Palestrantes</header>
    <button ui-sref="proposal.new" ng-hide="cfpState == 'open'" translate>
      submissão de propostas encerrada!
    </button>
    <button ui-sref="proposal.new" ng-show="cfpState == 'open'" translate>
      propor nova palestra
    </button>
  </div>
</div>
