<img src="/images/logo-pt.png"/>

<div class="subtitle">
  8 a 11 de Julho de 2015 | Porto Alegre | Brasil
  <button ui-sref="authenticate" translate>entrar na minha conta</button>
</div>

<div class="buttons">
  <span class="divisor" translate>Palestrantes</span>
  <button ui-sref="proposal.new" ng-hide="cfpState == 'open'" translate>
    submissão de propostas encerrada!
  </button>
  <button ui-sref="proposal.new" ng-show="cfpState == 'open'" translate>
    propor nova palestra
  </button>
  <br class="clear" />
  <span class="divisor" translate>Participantes</span>
  <button ng-click="showInfo('initial', 'contract_large')" translate>quero comprar um ingresso</button>
  <button ng-click="showInfo('caravan', 'contract_large')" translate>quero montar uma caravana</button>
  <br class="clear"/>
</div>
