main.splash {

  h3 {
    font-size: 600%;
    margin: 0;
    text-align: center;
    padding: 3rem;
    color: white;
    text-shadow:
        -1px -1px 0 gray,
         1px -1px 0 gray,
        -1px  1px 0 gray,
         1px  1px 0 gray;
  }
}
