body.splash {
  background: url(/images/top-bg.png);

}

header.splash {
  z-index: 0;
  img.logo { display: none; }
  h1, label { z-index: 200; }
}
main.splash {
  background: transparent;
  position: fixed;
  left: 10%;
  top: 0px;

  img {
    position: relative;
    z-index: 150;
  }

  div.subtitle {
    font-family: Orbitron;
    position: fixed;
    font-size: 20px;
    color: #666;
    top: 70px;
    left: 50%;
    text-align: center;

    button {
      display: inline-block;
      cursor: pointer;
      width: 50%;
      background: gray;
      box-shadow: 3px 3px 3px lightgray;
      color: white;
      height: 2em;
      margin: 1em;
      border: 0;
      font-size: x-large;
      &:hover {
        background:white;
        color:black;
      }
    }

  }

  div.buttons {
    background: url(/images/bg_fisl.png) no-repeat;
    background-size: 100% auto;
    text-align: center;
    width: 100%;
    left: 0;
    top: 180px;
    bottom: 0px;
    position: fixed;

    button {
      display: inline-block;
      cursor: pointer;
      width: 25%;
      background: gray;
      box-shadow: 3px 3px 3px lightgray;
      color: white;
      height: 3em;
      margin: 1em;
      border: 0;
      font-size: x-large;
      &:hover {
        background:white;
        color:black;
      }
    }

    header {
      font-family: Orbitron;
      display:block;
      font-size:x-large;
      text-align: center;
      margin:0.5em auto;
      padding:0.5em;
      width:90%;
      background: lightgray;
      box-shadow: 3px 3px 3px white;

      i {
          color: red;
          font-size: small;
      }
    }
  }
}
