<dl class="judge">
  <dt class="header" translate>avaliador</dt>
  <dt translate>token</dt>
  <dd class="token">{{ judge.hash }}</dd>

  <dt translate>votos totais</dt>
  <dd class="votes">{{ judge.votes }}</dd>

  <dt translate>votos usados</dt>
  <dd class="spent">{{ judge.spent }}</dd>

  <dt translate>votos restantes</dt>
  <dd class="remaining">{{ judge.remaining }}</dd>

  <dt>
    <button ng-click="instructions.setDisplay(true)">
      ajuda!!
    </button>
  </dt>

</dl>
<div class="instructions" ng-show="instructions.display">
  <h3 translate>Instruções</h3>

  <p>
    Participar da seleção pública de palestras do FISL16 é muito fácil!
  </p>
  <p>
    Nas telas a seguir, serão mostradas duas propostas de palestra
    que foram enviadas pela comunidade este ano. Selecione a que
    você mais gostaria de ver apresentada no FISL16.</p>
  <p>
    Você poderá efetuar esse processo {{ judge.remaining }} vezes,
    escolhendo uma proposta de palestra preferida em cada vez.
  </p>

  <p>
    <b>Atenção:</b> você tem <b>15 minutos</b> para efetuar cada voto. Após
    transcorrido esse tempo, o par de propostas será apresentado a
    outro avaliador, e seu voto para aquele par será descartado.
  </p>

  <button ng-click="instructions.setDisplay(false)">
    ok, quero começar!
  </button>


</div>
<div class="done" ng-hide="match.player1">
  <h3 translate>Obrigado por participar!</h3>

  <p>
    Todos os seus votos foram computados. Em breve, anunciaremos
    as propostas classificadas. Nos vemos no FISL16!
  </p>
</div>
<div class="match" ng-show="match.player1">
  <div class="versus">x</div>
  <div class="player player-{{$index}}" ng-repeat="player in [ match.player1, match.player2 ]">
    <h4>{{ player.title }}</h4>
    <dl class="scrollable">
      <dt translate>trilha</dt>
      <dd class="track">{{ player.track.zone }} - {{ player.track.track }}</dd>

      <dt translate>autores</dt>
      <dd class="author" ng-repeat="author in player.authors">
        {{ author.name }}
        <a ng-click="toggleResume($id)" ng-show="author.resume">currículo...</a>
        <span ng-show="displayResume[$id]">
          {{ author.resume }}
        </span>
      </dd>
      <dt translate>descrição</dt>
      <dd class="full pre-wrap">{{ player.full }}</dd>
    </dl>
  </div>
  <div class="buttons">
    <button ng-click="voteFor('player1')" translate>prefiro proposta 1</button>
    <button ng-click="voteFor('tie')"     translate>gostei de ambas</button>
    <button ng-click="voteFor('player2')" translate>prefiro proposta 2</button>
  </div>
</div>

