main.home {
  .proposals {
    padding: 0;

    ul {
      padding: 0;
      margin: 0;
    }

    li.new {
      position: relative;
      text-align: center;
      .fa-plus {
        position: absolute;
        top: 20%;
        left: 5%;
        font-size: xx-large;
      }
      span {
        position: absolute;
        top: 25%;
        left: 7%;
        right: 2%;
        font-size: x-large;
      }
    }

    li {
      width: 25rem;
      list-style-type: none;
      margin: 1rem 0;
      position: relative;
      height: 4rem;

      &:nth-child(odd)  { background: #BBB; }
      &:nth-child(even) { background: #DDD; }

      >* { display: block; padding: 2px;}
      &:hover {
        outline: 3px solid lightblue;
      }

      .title {
        font-size: x-large;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.empty {
          color: violet;
          font-style: italic;
        }
      }
      .authors {
        font-style: oblique;
        font-size: 80%;
      }
      .when {
        width: 60%;
        float: left;
        font-size: 70%;
      }
      &.unsaved .when {
        float: left;
        color: orchid;

      }
      .track {
        color: green;
        font-size: 70%;
        float: right;
        width: 37%;
        text-align: right;
      }
      .delete {
        float: right;
        font-size: 70%;
      }
    }
  }
}

