main.home {
  .caravans, .proposals, .purchases, .coauthors {
    ul {
      padding: 0;
      margin: 0;
    }

    li.new {
      padding:10px;
      position: relative;
      text-align: center;
      .fa-plus {
        position: absolute;
        top: 30%;
        left: 7%;
        font-size: xx-large;
      }
      span {
        position: absolute;
        top: 30%;
        left: 7%;
        right: 2%;
        font-size: x-large;
      }
    }

    li {
      border:1px solid #666;
      padding:10px;
      float: left;
      margin: 10px 10px;
      width: 25rem;
      cursor: pointer;
      list-style-type: none;
      position: relative;
      height: 4rem;

      &:nth-child(odd)  { background: #BBB; }
      &:nth-child(even) { background: #DDD; }

      >* { display: block; padding: 2px;}
      &:hover {
        outline: 5px solid lightblue;
      }

      .title {
        font-size: x-large;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.empty {
          color: maroon;
          font-style: italic;
        }
      }
      .authors {
        font-style: oblique;
        font-size: 80%;
        &>span::before { content: ','; }
        .pending  { color: maroon; }
        .accepted { color: green; }
        .declined { color: white;  background: tomato; }
      }
      .when {
        width: 60%;
        float: left;
        font-size: 70%;
      }
      &.unsaved .when {
        float: left;
        color: maroon;

      }
      .track {
        color: green;
        font-size: 70%;
        float: right;
        width: 37%;
        text-align: right;
      }
      .delete {
        float: right;
        font-size: 70%;
      }
    }
  }

  .purchases {
    li:not(.new) {
      cursor:inherit;

      &:hover { outline: inherit; }
    }


    .status_expired {
      float:right;
      margin-top:-10px;

      .ticket-expired {
        font-size:100%;
        background-color:darkred;
 
        &:hover { background-color:pink; }
      }
    }

    .status {
      position: absolute;
      left: 80%;
      top: 60%;

      &.pending { color: red; }
      &.paid    { color: green; }
      &.expired { color: darkred; }
    }

    .number {
      position: absolute;
      left: 35%;
      top: 60%;
      float: left;
      margin: 0 1em;
      color: black;
      b { font-family: Orbitron; }
    }


    button {
      display: inline-block;
      cursor: pointer;
      background: gray;
      box-shadow: 3px 3px 3px lightgray;
      color: white;
      height: 2em;
      border: 0;
      padding:0 1em;
      margin-top:-20px;
      font-size: x-large;
      &:hover {
        background:white;
        color:black;
      }
    }
    
    .payment_method {
      padding:5px;
      float:right;
      margin-top:-35px;
      margin-right:-50px;
      
      button {
        font-size:small;
      }
      
      span {
        text-align:center;
        background-color:white;
        padding:5px;
        display:block;
        border:1px solid #ccc;
        margin-top:-5px;
        margin-bottom:8px;
      }
    }
  }
  
}

.box-icon {
  position:absolute;
  top:0.2em;
  right:0.2em;
  font-size:1.5em;    
}
