<fieldset class="invite">
  <legend translate>confirmação de presença como palestrante</legend>

  <div class="expired" ng-show="notification.is_expired" translate>
    Pedimos desculpas, mas o prazo para confirmação de sua palestra
    através da mensagem de notificação está encerrado. Outras propostas
    de palestras serão convocadas, dando oportunidade a outros
    proponentes.
  </div>

  <div class="intro" ng-hide="notification.is_expired" translate>
    Sua palestra (descrita abaixo) foi aceita para apresentação no <b>FISL16</b>.
    Para confirmar sua vinda ao evento para apresentação dessa palestra, utilize
    os botões abaixo.
  </div>

  <ul>
    <li><span translate>título:</span> {{ notification.target.title }}</li>
    <li><span translate>trilha:</span> {{ notification.target.track.name_pt }}</li>
    <li><span translate>língua:</span> {{ notification.target.language }}</li>

    <li><span translate>mensagem enviada em:</span> {{ notification.sent | datetime_locale }}</li>
    <li><span translate>prazo para resposta:</span> {{ notification.deadline | datetime_locale }}</li>
    <li><span translate>código de ativação:</span> {{ notification.hash }}</li>
  </ul>

  <div ng-hide="notification.is_expired" ng-switch="notification.status">
    <div class="done" ng-switch-when="confirmed">
      OK, a apresentação dessa palestra está confirmada.
    </div>
    <div class="done" ng-switch-when="declined">
      OK, estamos cientes de seu desejo de <b>NÃO</b> apresentar esta palestra
    </div>
    <div class="actions" ng-switch-when="pending">
      <button ng-click="accept()"  translate>sim, eu vou apresentar esta palestra</button>
      <button ng-click="decline()" translate>não, eu não vou apresentar esta palestra</button>
    </div>
  </div>
</fieldset>
