@import 'modules/common/mixins.scss';

main.notification {

  .intro {
    width: 50%;
  }
  .expired {
    border: 1px solid red;
    background: lightpink;
    padding: 1em;
    width: 30em;
  }

  ul {
    span {
      font-weight: bold;
    }
  }

  .done {
    border: 1px solid blue;
    background: lightblue;
    padding: 2em;
    width: 30%;
  }

  button {
    font-size: large;
    margin: 1rem;
    padding: 1rem;
  }
}
