@import 'modules/common/mixins.scss';

main.authenticate {
  position: relative;
  max-width: 988px;
  margin: 10px auto 0;

  fieldset {
    position: absolute;
    top: 36px;
    color: #163f5e;
    z-index: 2;
    text-align: center;
    padding: 0px;

    border-radius: 20px;
    background: white;

    &:nth-child(1)  { left: 0; }
    &:nth-child(2) { right: 0; }

    header {
      font-size: large;
      padding: 0.9rem;
      border-radius: 20px;
    }

    form {
      transition: all 0.2s ease;

      &.collapsed { max-height: 140px; width: 280px; opacity: .2; }
      &.normal    { min-height: 180px; width: 460px; }
      &.expanded  { min-height: 220px; width: 700px; }

      &.collapsed     .hide-collapsed { display: none; }
      &.collapsed     .only-expanded { transition: all 0.2s ease; display: none;  opacity: 0; }
      &.normal        .only-expanded { transition: all 0.2s ease; display: none;  opacity: 0; }
      &.expanded      .only-expanded { transition: all 0.2s ease; display: normal; opacity: 0; }
      &.expanded.done .only-expanded { transition: all 0.2s ease; display: normal; opacity: 1; }

      &.lines.expanded input { @include hide-placeholder; }
    }
  }
}
main.forgot {
  fieldset {
    width: 60%;

    input {
      width: 20rem;
    }
  }
}
