<section class="login">
  <header translate>entrar na minha conta</header>
  <form novalidate name="login_form" autofocus grab-focus style="max-height: 210px;">
    <input type="text" maxlength=30
          placeholder="{{ 'e-mail' | translate }}"
          autofocus
          required ng-model="email" />
    <input type="password"
          placeholder="{{ 'senha' | translate }}"
          ng-model="password" />
    <a href="#" class="forgot" translate
       ng-click="forgot()" ng-hide="password">esqueci minha senha!</a>

    <button ng-click="tryLogin()" class="only-expanded" translate>
      entrar!
    </button>
  </form>
</section>
