<legend translate>entrar na minha conta</legend>
<form novalidate name="login_form" grab-focus style="max-height: 210px;">
  <input type="text" maxlength=30
         placeholder="{{ 'e-mail' | translate }}"
         required ng-model="email" />
  <input type="password"
        placeholder="{{ 'senha' | translate }}"
        ng-model="password" />
  <a href="#" ng-click="forgot()" class="forgot" translate>esqueci minha senha!</a>

  <button ng-click="tryLogin()" class="only-expanded" translate>
    entrar!
  </button>
</form>
