<section class="login">
  <header translate>entrar na minha conta</header>
  <form novalidate name="login_form" grab-focus class="inside" style="max-height: 210px;">
    <input type="text" maxlength=30
          placeholder="{{ 'e-mail' | translate }}"
          focusable required ng-model="login.email" />
    <input type="password"
          placeholder="{{ 'senha' | translate }}"
          ng-model="login.password" />
    <a href="#" class="forgot hide-collapsed" translate
       ng-click="forgot()" ng-hide="password">esqueci minha senha!</a>

    <button ng-click="tryLogin()" class="only-expanded" translate>
      entrar!
    </button>
  </form>
</section>
