<fieldset class="issue">
  <legend>
    meus certificados
  </legend>
  <div class="line">
    <ul>
      <li ng-repeat="certificate in pending_certificates" class="pending">
        certificado de {{ certificate.kind | humanize }}
        <span ng-show="certificate.talk" class="talk">
          "{{ certificate.talk }}"
        </span>
        <span class="error" ng-show="certificate.status == 'failed'" translate>erro!</span>
      </li>
      <li ng-repeat="certificate in issued_certificates"
          ng-click="openCertificate(certificate)"
          class="issued">
        certificado de {{ certificate.kind | humanize }}

        <span ng-show="certificate.talk" class="talk">
          "{{ certificate.talk }}"
        </span>
        <span class="view">
          <span translate>emitido em {{ certificate.issue_date | date_locale }}</span>
          <a href="{{ certificate.full_url }}" target="_blank" translate>
            visualizar
          </a>
        </span>
      </li>
    </ul>
  </div>
</fieldset>
