<fieldset class="author" ng-controller="NewProposalAuthorController">
  <legend translate>quem é você?</legend>
  <p class="not-logged info" ng-hide="account || accountOption" translate>
    não conseguimos detectar sua sessão neste computador...
  </p>
  <p ng-hide="account">
    <label translate>você já tem conta no sistema?</label>
    <span>
      <input type="radio" id="account_use_old" value="existing"
             ng-model="accountOption" ng-click="openLoginModal()"/>
      <label for="account_use_old" translate>sim, já tenho conta</label>
    </span>
    <span>
      <input type="radio" id="account_create_new" value="create"
             ng-model="accountOption" ng-click="focusName()"/>
      <label for="account_create_new" translate>não, quero criar uma conta</label>
    </span>
  </p>
  <logged-as></logged-as>

  <fieldset class="detail" ng-show="accountOption == 'create'">
    <p>
      <label>
        <span translate>nome</span>
        <small translate>(de 5 até 80 caracteres)</small>
      </label>
      <input type="text" required focusable
            minlength="5" maxlength="80"
            ng-model="author.name"/>
      <i class="fa fa-check"></i>
    </p>

    <p>
      <label>
        <span translate>email</span>
        <small translate>(será necessário para login)</small>
      </label>
      <input type="email" required
            minlength="5" maxlength="80"
            ng-model="author.email"/>
      <i class="fa fa-check"></i>
    </p>

    <p>
      <label class="notip">
        <span translate>país</span>
      </label>
      <input type="email" required
            minlength="5" maxlength="80"
            ng-model="author.country"/>
      <i class="fa fa-check"></i>
    </p>

    <p>
      <label class="notip">
        <span translate>cidade</span>
      </label>
      <input type="email" required
            minlength="5" maxlength="80"
            ng-model="author.country"/>
      <i class="fa fa-check"></i>
    </p>

    <p>
      <label>
        <span translate>telefone</span>
        <small translate>(inclua código de área)</small>
      </label>
      <input type="text" required
            minlength="10" maxlength="30"
            ng-model="author.phone"/>
      <i class="fa fa-check"></i>
    </p>

    <p>
      <label>
        <span translate>empresa / universidade</span>
        <small translate>(ou qualquer outra instituição)</small>
      </label>
      <input type="text" required
            minlength="5" maxlength="80"
            ng-model="author.organization"/>
      <i class="fa fa-check"></i>
    </p>

    <p>
      <label>
        <span translate>mini-currículo</span>
      </label>
      <textarea required minlength="5" maxlength="80"
                ng-model="author.resume"/>
      <i class="fa fa-check"></i>
    </p>

  </fieldset>
</fieldset>
