<fieldset class="coauthors">
  <legend translate>quem vai apresentar?</legend>

  <div ng-hide="account" translate>
    você pode convidar até três pessoas para
    ajudar na apresentação dessa palestra

  </div>

  <ul ng-show="account" class="coauthor_list">
    <li class="coauthor main">
      <img gravatar-src="account.email" gravatar-size="50">
      <div class="name">{{ account.name }}</div>
      <div class="recipient">{{ account.email }}</div>
      <div class="status you" translate>este é você!</div>
    </li>
    <li class="coauthor" ng-repeat="invite in invites">
      <img gravatar-src="invite.recipient" gravatar-size="50">
      <div class="name">{{ invite.name }}</div>
      <div class="recipient">{{ invite.recipient }}</div>
      <div class="status {{invite.status}}">{{ invite.status }}</div>
    </li>
    <li class="coauthor invite-new" ng-click="openInviteModal()" ng-hide="currentProposal">
      <i class="fa fa-plus"></i>
      <span ng-show="invites" translate>convidar outro co-autor...</span>
      <span ng-hide="invites" translate>convidar co-autor...</span>
    </li>
  </ul>
</fieldset>
