<div ui-view="modal"></div>
<form novalidate name="proposal_form">
  <fieldset class="proposal">
    <legend>o que você está propondo?</legend>
  <p>
    <label>
      <span translate>título da palestra</span>
      <small translate>(de 5 até 80 caracteres)</small>
    </label>
    <input type="text" required
          minlength="5" maxlength="80"
          ng-model="proposal.title"/>
    <i class="fa fa-check"></i>
  </p>

  <p>
    <label>
      <span translate>resumo da proposta</span>
      <small translate>(até 200 caracteres)</small>
    </label>
    <textarea required minlength="5" maxlength="200"
              ng-model="proposal.summary"></textarea>
    <i class="fa fa-check"></i>
  </p>

  <p>
    <label>
      <span translate>proposta completa</span>
      <small translate>(até 2000 caracteres)</small>
    </label>
    <textarea required minlength="5" maxlength="2000"
              ng-model="proposal.full" class="large"></textarea>
    <i class="fa fa-check"></i>
  </p>

  <p>
    <label>
      <span translate>língua</span>
    </label>
    <span ng-repeat="lang in languages">
      <input type="radio" id="lang_{{lang.abbr}}" value="{{ lang.abbr }}"
             ng-model="proposal.language" />
      <label for="lang_{{lang.abbr}}">{{ lang.name }}</label>
    </span>
  </p>

  <p>
    <label>
      <span translate>nível da palestra</span>
    </label>
    <span ng-repeat="level in levels">
      <input type="radio" id="level_{{level}}" value="{{ level }}"
             ng-model="proposal.level" />
      <label for="level_{{level}}">{{ level }}</label>
    </span>
  </p>

  </fieldset>

  <fieldset>
    <legend>quem é você?</legend>
    <p class="info">
      não conseguimos detectar sua sessão neste computador...
    </p>
    <p>
      <label translate>você já tem conta no sistema?</label>
      <span>
        <input type="radio" id="account_use_old" value="use_old"
               ng-model="accountOption"
               ng-click="openLoginModal()"/>
        <label for="account_use_old">sim, já tenho conta</label>
      </span>
      <span>
        <input type="radio" id="account_create_new" value="create_new" ng-model="accountOption" />
        <label for="account_create_new">não, quero criar uma conta</label>
      </span>
    </p>

  </fieldset>

  <fieldset>
    <legend>quem mais vai ajudar?</legend>
    <p>
      <label translate>pretendo apresentar essa palestra...</label>
      <span>
        <input type="radio" id="authors_single" value="single" ng-model="authorsOption" />
        <label for="authors_single">sozinho</label>
      </span>
      <span>
        <input type="radio" id="authors_many" value="many" ng-model="authorsOption" />
        <label for="authors_many">com ajuda de outras pessoas</label>
      </span>
    </p>


  </fieldset>

  <p class="centered" ng-show="proposalIsSubmittable()">
    <button ng-click="submit()" translate>
      criar proposta
    </button>
  </p>

</form>
