<form novalidate name="proposal_form" class="lines">
  <ng-include src="'modules/Proposal/proposal.html'"></ng-include>
  <ng-include src="'modules/Proposal/author.html'"></ng-include>
  <ng-include src="'modules/Proposal/coauthors.html'"></ng-include>

  <aside class="centered action" ng-show="account">
    <div form-error-any translate>
      <span translate>por favor verifique as mensagens acima e tente novamente</span>
    </div>
    <button ng-hide="proposal.id" ng-click="submit()" translate>
      criar proposta
    </button>
    <button ng-show="proposal.id" ng-click="submit()" translate>
      salvar alterações
    </button>
  </aside>

</form>
