main.proposal {
  margin: 0 auto;
  width: 45rem;

  form {
    fieldset {
      border: 0px;
      border-top: 1px solid gray;
      margin-bottom: 1em;
      padding: 0;

      legend {
        background: white;
        padding: 0 1em;
        font-variant: small-caps;
        border-radius: 5px;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
        text-align: center;
      }
    }

    label {
      display: block;
      float: left;
      text-align: right;
      margin-top: 0.3rem;
      width: 10rem;
      margin-right: 1em;

      small {
        display: block;
        font-size: small;
        color: gray;
      }
    }
    input, textarea {
      width: 30rem;
      border: 3px solid lightgray;
      border-radius: 5px;
      padding-right: 0.2rem;

      &+.fa-check {
        color: transparent;
        vertical-align: top;
        margin-top: 0.5rem;
        margin-left: -1.5rem;
      }
      &.ng-valid + .fa-check {
        color: green;
      }
    }
    input {
      font-size: large;
    }

    textarea {
      font-size: normal;
      height: 5rem;

      &.large {
        height: 10rem;
      }
    }

    button {
      text-align: right;
      font-size: x-large;
      padding: 1rem;
    }
  }

}
