body {
  &>header {
    border-bottom: 1px solid black;

    h1 {
      margin: 0;
    }
    h2 {
      margin: 0;
    }
    #language {
      float: right;
      margin-top: -0.5rem;
      margin-right: 1rem;

      label {
        background: white;
        border: 1px solid gray;
        padding: 0.5rem;
        input { display: none }
      }
    }
  }

  &>main {
    clear: both;
  }

  &>footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: black;
    font-size: small;
    background: gray;
    padding: 0.5rem;
    opacity: .4;
    &:hover {
      opacity: 1;
    }
  }

}

.centered {
  text-align: center;
}
