NameVirtualHost *:80

<VirtualHost *:{{ webport }}>
  ServerAdmin webmaster@localhost
  ServerName  {{ sitename }}.{{ master_host }}

  DocumentRoot /var/www/{{ sitename }}.{{ master_host }}
  ErrorLog ${APACHE_LOG_DIR}/error.log
  LogLevel warn

  <Directory /var/www/{{ sitename }}.{{master_host }}>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

</VirtualHost>
