<fieldset class="buyer_data">
  <legend translate>dados do comprador</legend>

  <p class="alert alert-warning">
    atenção: não é possível alterar os dados do comprador após a realização da compra    
  </p>

  <p class="alert alert-info">
    os dados abaixo são necessários para realização do pagamento e posterior emissão de nota fiscal
  </p>

  <p>
    <label class="long" translate>este ingresso está sendo comprado: </label>
    <span>
      <input type="radio" id="buyer_person" name="buyer_type" value="person"
             ng-model="buyer.kind"
             ng-click="changeBuyerType()" />
      <label for="buyer_person" translate>por mim</label>
    </span>
    <span ng-hide="selectedProduct.category == 'student'">
      <input type="radio" id="buyer_company" name="buyer_type" value="company"
             ng-model="buyer.kind"
             ng-click="changeBuyerType()" />
      <label for="buyer_company" translate>por uma empresa</label>
    </span>
    <span form-error="kind.object_required" translate>por favor, informe o tipo de comprador</span>
  </p>

  <p>
    <label translate>forma de pagamento: </label>
    <span>
      <input type="radio" id="payment_boleto" name="payment_method" value="boleto"
             ng-model="payment.method" />
      <label for="payment_boleto" translate>boleto bancário</label>
    </span>
    <span>
      <input type="radio" id="payment_pagseguro" name="payment_method" value="pagseguro"
             ng-model="payment.method" />
      <label for="payment_pagseguro" translate>pagseguro</label>
    </span>
    <span form-error="payment-method.object_required" translate>por favor, informe a forma de pagamento</span>
  </p>

  <p>
    <label>
      <span ng-show="buyer.kind == 'person'" translate>nome do comprador</span>
      <span ng-show="buyer.kind == 'company'" translate>nome da empresa</span>
      <small translate>(de 5 até 80 caracteres)</small>
    </label>
    <input type="text" required focusable
          minlength="5" maxsize="50"
          ng-model="buyer.name"
          ng-readonly="buyer.kind == 'person'" />
    <i class="fa fa-check only-expanded"></i>
    <span form-error="name.object_required" translate>por favor, informe o nome</span>
  </p>

  <p>
    <label>
      <span translate>contato</span>
      <small translate>(de 5 até 80 caracteres)</small>
    </label>
    <input type="text" focusable 
          minlength="5" maxsize="100"
          ng-model="buyer.contact"
          ng-required="buyer.kind == 'company'" />
    <i class="fa fa-check only-expanded"></i>
    <span form-error="contact.object_required" translate>por favor, informe o nome do contato</span>
  </p>

  <p>
    <label class="notip">
      <span translate>país</span>
    </label>
    <input type="text" required
          minlength="2" maxsize="40"
          watch="country:changed"
          readonly
          ng-model="buyer.address_country"
          value="Brasil"/>
    <i class="fa fa-check"></i>
    <span form-error="address_country.object_required" translate>por favor, informe seu país</span>
  </p>

  <p class="cpf" ng-show="buyer.kind == 'person' || buyer.kind == 'student'">
    <label>
      <span translate>número do CPF</span>
      <small translate>(somente residentes no Brasil)</small>
    </label>
    <input type="text" required
          minlength="11" maxsize="20"
          ng-model="buyer.document"
          ui-br-cpf-mask/>
    <i class="fa fa-check"></i>
    <span form-error="cpf.object_required" translate>residentes no Brasil, favor informar o CPF</span>
  </p>

  <p class="cnpj" ng-show="buyer.kind == 'company'">
    <label>
      <span translate>CNPJ</span>
      <small translate>(somente empresas brasileiras)</small>
    </label>
    <input type="text" required
          minlength="11" maxsize="15"
          ng-model="buyer.document"
          ui-br-cnpj-mask/>
    <i class="fa fa-check"></i>
    <span form-error="cnpj.object_required" translate>residentes no Brasil, favor informar o CNPJ</span>
  </p>

  <p class="passport" ng-show="isForeignPerson">
    <label>
      <span translate>passaporte</span>
      <small translate>(Mercosul: use identidade nacional)</small>
    </label>
    <input type="text" required
          minlength="8" maxsize="15"
          ng-model="buyer.document"/>
    <i class="fa fa-check"></i>
    <span form-error="passport.object_required" translate>estrangeiros não-residentes, favor informar o passaporte; cidadãos do Mercosul podem informar documento de identidade nacional</span>
  </p>

  <p>
    <label>
      <span translate>endereço</span>
    </label>
    <input type="text" required
          minlength="5" maxsize="80"
          ng-model="buyer.address_street"
          />
    <i class="fa fa-check"></i>
    <span form-error="address_street.object_required" translate>favor informar o endereço</span>
  </p>

  <div class="address_number_extra">

  <p>
    <label>
      <span translate>número</span>
    </label>
    <input type="text" required
          minlength="1" maxsize="20"
          ng-model="buyer.address_number"
          />
    <i class="fa fa-check"></i>
    <span form-error="address_number.object_required" translate>favor informar o número</span>
  </p>

  <p>
    <label>
      <span translate>complemento</span>
    </label>
    <input type="text"
          minlength="1" maxsize="40"
          ng-model="buyer.address_extra"
          />
    <i class="fa fa-check"></i>
  </p>

  </div>
  
  <p>
    <label>
      <span translate>cidade</span>
    </label>
    <input type="text" required
          minlength="2" maxsize="60"
          ng-model="buyer.address_city"
          />
    <i class="fa fa-check"></i>
    <span form-error="address_city.object_required" translate>residentes no Brasil, favor informar a cidade</span>
  </p>

  <p>
    <label>
      <span translate>CEP</span>
    </label>
    <input type="text" required
          ng-model="buyer.address_zipcode"
          minlength="9" maxlength="9"
          ui-br-cep-mask
          />
    <i class="fa fa-check"></i>
    <span form-error="address_city.object_required" translate>residentes no Brasil, favor informar a cidade</span>
  </p>

</fieldset>
