<fieldset class="products">
  <legend translate>qual ingresso você quer comprar?</legend>

  <p>
    <div class="product_list">
    <span ng-repeat="product in products">
      <input data-category="{{product.category}}"
             type="radio"
             name="product_id"
             id="product_{{product.id}}"
             value="{{ product.id }}"
             watch="product:changed"
             ng-model="selectedProduct" />
      <label for="product_{{product.id}}">{{ product.short_description }} ({{product.price | realbrasileiro }})</label>
    </span>
    <span form-error="product_id.object_required" translate>selecione um tipo de ingresso</span>
    </div>
  </p>

</fieldset>