<fieldset class="products">
  <legend translate>qual ingresso você quer comprar?</legend>

  <p>
    <div class="product_list">
    <span ng-repeat="product in products">
      <input type="radio"
             name="product_id"
             id="product_{{product.id}}"
             ng-value="product.id"
             ng-model="productId"
             ng-change="updateSelectedProduct(product.id)"/>
      <label for="product_{{product.id}}">{{ product.description }} ({{product.price | realbrasileiro }})</label>
    </span>
    <span form-error="product_id.object_required" translate>selecione um tipo de ingresso</span>
    </div>
  </p>

</fieldset>
