<fieldset class="products">
  <legend translate>qual ingresso você quer comprar?</legend>
  <span>(clique abaixo no ingresso desejado)</span>
  <p>
    <table>
      <tr>
        <th class="date">disponível até...</th>
        <th class="category">individual</th>
        <th class="category">estudante</th>
      </tr>
      <tr class="rows" ng-repeat="period in productsByPeriod">
        <td class="date">{{ period[0] | dateFromTimestamp }}</td>
        <td class="price" ng-repeat="(category,tickets) in period[1]">
          <input id="product_{{tickets[0].id}}" type="radio"
                 ng-value="tickets[0].id"
                 name="productId"
                 ng-model="productId">
          <label ng-click="updateSelectedProduct(tickets[0].id)"
                 for="product_{{tickets[0].id}}">{{ tickets[0].price | realbrasileiro }}</label>
        </td>
      </tr>
    </table>
  </p>

</fieldset>
