@import 'modules/common/mixins.scss';

main.purchase {
  input { @include hide-placeholder; }

  aside.action {
    transition: all 1s ease;
    position: fixed;
    bottom: 0;
    right: 15%;
    width: 15rem;
    background: rgba(128,128,128,0.3);
    border-top-left-radius:  20px;
    border-top-right-radius: 20px;
    box-shadow: 3px 3px 3px gray;

    button {
      font-size: large;
      margin: 1rem;
    }

    .error {
      font-size: 80%;
      width: 10rem;
    }
  }

}

.products {

  .product_list {
    input[type=radio] {
      display:none;
    }

    label {
      float:left;
      cursor:pointer;
    }
  }
  table {
    border-collapse: collapse;
    th {
      background: lightgray;
      color: black;
      padding: 0.5em;
      &.date  { width: 7em; }
      &.price { width: 7em; }
      &.category { }
    }
    tr.current {
      font-weight: bolder;
    }
    td {
      &.date  { width: 7em; }
      &.price { width: 7em; }

      text-align: center;
      padding: 0.3rem;
      label {
        display: inline-block;
        width: 500%;
        text-align: center;
        margin: auto;
        box-shadow: 1px 1px 3px gray;
      }
    }
  }
}

.ngdialog-content {
  .invite {
    section {
      font-size: large;
      padding: 0.9rem;
      border-radius: 20px;
    }

    input, button {
      width: 90%;
      font-size: x-large;
      border: 1px solid gray;
      margin: 0.6rem auto;
      padding: 0.5rem;
    }

    input + .forgot {
      position: absolute;
      font-size: small;
      margin-top: 1.5em;
      text-decoration: none;
      right: 70px;
    }

    &.half { width: 38%; }
  }
}

.conclude {

  padding:3rem;
  margin-top:2rem;

  p {
    font-size:large;
    font-family:sans-serif;
  }
}

.address_number_extra {
  
  p:first-child {
  }
  
  p:last-child {
  }
  
  p:last-child label {
  }
  
  p:first-child input {
  }
  
  p:last-child input {
  }
  
}

.product-price {
  display: inline-block;
  padding:3px 0;
  width: 100%;
  text-align: center;
  margin: auto;
  background-color:#ccc;
}